# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.metadata/

# IntelliJ / Android Studio related
*.iml
*.ipr
*.iws
.idea/
out/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android related (inside android folder)
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/.cxx/

# iOS related (inside ios folder)
**/ios/**/.generated/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Podfile.lock
**/ios/Pods/
**/ios/.symlinks/

# Web related (inside web folder)
**/web/**

# Windows related (inside windows folder)
**/windows/flutter/ephemeral/
**/windows/runner/GeneratedPluginRegistrant.*

# macOS related
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/

# Keystore files (never share these!)
**/*.keystore
**/*.jks
key.properties